.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-nav li a{
  font-size: 22px;
}
.navbar-brand{
  letter-spacing: 6px;
}
.thirdsection{
  margin-top: 50px;
  width: 100%;
  height: 230px;
  background-color: 
  #f9f3f2;
  

}

.grid{
  display: grid;
  
  grid-template-columns:50px,1fr;
  
  background-color: black;
  grid-gap: 50px;
}
#grid {
  margin-left: 14%;
  display: grid;
  width: 70%;
  justify-content: center;
 
  height: 80px;
  grid-template-columns: repeat(4,1fr);

  grid-gap: 30px;
}
.card{
  transition: all 0.5s ease;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.marquee-wrapper {
  overflow: hidden;
}

.marquee {
  width: 100%;
  display: flex;
  animation-name: marquee;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction:normal;
  transform: translateX(0);

}
.marquee>img {
  width: 120px;
padding: 1em;
}

@keyframes marquee {
  from {transform: translateX(0);}
  to {transform: translateX(-100%);}
}

.awards{
  margin-top: 30px;

}